body{
    background-color: #343d3d;
    background-size: cover;
}
#header{
    width: 100%;
    height: 100vh;
    
    background-position: center;
}

/*Home page */
.logo{
    margin-left: 50px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 50px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin-right: 50px ;
}
nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -6px;

}
nav ul li a:hover::after{
    width: 100%;

}
.header-text{
    margin-top: 15%;
    font-size: 30px;
    margin-left: 50px;
}
.header-text h3{
    font-size: 40px;
    text-align: left;
    color: #ffffff98;
}
.header-text img{
    margin-left: 700px;
    margin-top: -350px;
    border-left: 120px;
}
.header-text p{
    font-size: 20px;
    margin-right: 600px;
    margin-top: -10PX;
    color: #ffffff98;
    text-align: justify;
}
/* About me */
h2{
    text-align: center;
    font-size: 50px;
}

.about img{
    height: 320px;
    width: 420px;
    border-radius: 10px;
    box-shadow: #ddcbcb33 0px 2px 8px 0px;
    margin-left: -800px;
    margin-top: 50px;
}

.about h3{
    color: rgb(255, 255, 255);
    line-height: 2;
    font-size: 30px;
    margin-left: 550px;
    margin-top: -320px;
}

.about p{
    margin-left: 670px;
    margin-top: -35px;
    margin-right: 70px;
    text-align: justify;
    letter-spacing: 1.5px;
    color: #b3bbd3;
    font-size: 19px;
    text-indent: 80px;
}

@media (max-width:920px) {
    .about{
        grid-template-columns: 1fr;
    }
    .about-img{
        text-align: center;
        order: 2;
    }
    .about-img img{
        width: 100%;
        height: auto;
        max-width: 100%;
    }
}
/* product */

.container{
    text-align: center;
}



.products {
    padding: 20px 50px;
    background: #a6c0fe;
}

.product-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product {
    background-color: #f4f4f4;
    padding: 50px;
    text-align: center;
    width: 15%;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.product:hover {
    transform: scale(1.05);
}
.product img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.product h3 {
    margin: 15px 0;
    font-size: 1.5em;
}  
/* meet our team*/
.team-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 90px;
    padding: 50px;
}
.team-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 250px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
}
.team-card:hover {
    transform: scale(1.05);
}
.team-card img {
    width: 170px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
}
.name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
.role {
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}
.social-links a {
    margin: 5px;
    color: #333;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}
.social-links a:hover {
    color: #007BFF;
}
/* Contact US */
.contact-container {
    width: 40%;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 10px;
}
h2 {
    text-align: center;
    color: #333;
}
label {
    font-weight: bold;
    color: #00000098;
    font-size: 20px;
}
input, textarea {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid ;
    border-radius: 5px;
    background-color: #ffffff00;
}

button {
    width: 250px;
    background: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 150px;
}
button:hover {
    background: #218838;
}
.error {
    color: red;
    font-size: 14px;
}
/* footer */

#footer{
    background: #343d3d;
    padding: 10px 0 1px;
    color: #ffffff98;
}

.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left,.footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}

.footer-right{
    text-align: right;
}

.footer-row h1{
    margin: 10px 0;
}

.footer-row p{
    line-height: 35px;
}

.footer-left .fa,.footer-right .fa{
    font-size: 30px;
    color: #103386;
    margin: 10px;
}